<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>AC6BCBF8D73F3657E0FFDC423F48AB64</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
