<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu May  3 14:38:14 2018</string>
	<key>BuildLabel</key>
	<string>212083</string>
	<key>BuildType</key>
	<string>PRODUCTION</string>
	<key>ChangeListNumber</key>
	<string>2767407</string>
	<key>ProductVersion</key>
	<string>9.7.5</string>
</dict>
</plist>
