<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductRemovals</key>
	<array>
		<dict>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Applications/Sophos Remove.app</string>
			</array>
			<key>ListOfComponents</key>
			<array/>
			<key>ProductName</key>
			<string>he-v8</string>
		</dict>
		<dict>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Library/Sophos Anti-Virus/RMS</string>
			</array>
			<key>ListOfComponents</key>
			<array/>
			<key>ProductName</key>
			<string>opm-v8</string>
		</dict>
		<dict>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Library/Contextual Menu Items/Sophos Anti-Virus.plugin</string>
			</array>
			<key>ListOfComponents</key>
			<array/>
			<key>ProductName</key>
			<string>opm-sa-v8</string>
		</dict>
	</array>
	<key>Products</key>
	<dict>
		<key>che</key>
		<dict>
			<key>CrossGrades</key>
			<array>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>saas</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-sa-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-sa</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>damaged-installation</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>saas</key>
		<dict>
			<key>CrossGrades</key>
			<array>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>che</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>opm-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>opm-sa-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>opm-sa</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>opm</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
