<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>RegistrationServerURL</key><string>https://mcs-cloudstation-eu-central-1.prod.hydra.sophos.com/sophos/management/ep</string><key>CustomerId</key><string>ffd1f404-ac8a-4623-877d-64595bca018f</string><key>RegistrationToken</key><string>51d227861142bb412fecdb8924a538d420fc38c26ecac839d40cb2e90ca96e26</string><key>DesiredFeatures</key><string>CORE, SDU, AV, SAV, DVCCNTRL, APPCNTRL, DLP, WEBCNTRL, NTP, HBT, EFW, CLEAN, XPD</string><key>ProductType</key><string>business</string><key>GeneratedAt</key><string>2018-08-30T11:03:48Z</string><key>DciFileName</key><string>6cb165e2a3e12426a848c2efcd40a6f3</string></dict></plist>